.skills__item {
  min-height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .skills__item {
    min-width: 50%;
    margin-top: 80px;
  }
}

@media screen and (max-width: 420px) {
  .skills__item {
    min-width: 100%;
  }
}
