@import url(./_logo/footer__social_logo.css);

.footer__social {
  display: grid;

  list-style-type: none;
  grid-gap: 61px;
  grid-auto-flow: column;
  padding: 0;

}

@media (max-width: 400px) {
  .footer__social {
    margin-left: 30px;
    margin-right: 30px;
    grid-gap: 50px;
  }
}
