@import url(./__image/portfolio__image.css);
@import url(./__link/portfolio__link.css);
@import url(./__title/portfolio__title.css);
@import url(./__list/portfolio__list.css);
@import url(./__item/portfolio__item.css);

.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 1445px;
  max-height: 2253px;
  align-items: center;
  background-color: #f6f6f6;
}

