@import url(./__image/portfolio__image.css);
@import url(./__link/portfolio__link.css);

.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 1445px;
  max-height: 2253px;
  align-items: center;
  background-color: #f6f6f6;
}

.section__title_portfolio {
  margin: 105px auto 53px;
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
}
