.footer__links {
  color: #828282;
  text-align: center;
  margin: 45px auto 123px;
  line-height: 8px;
  text-decoration: none;
  max-width: 250px;
  width: 100%;
}

@media (max-width: 500px) {
  .footer__links {
    max-width: 315px;
  }
}

@media (max-width: 375px) {
  .footer__links {
    margin: 49px auto 123px;
    font-size: 18px;
    line-height: 6px;
    width: 100%;
  }
}
