.portfolio__link {
  color: black;
  margin: 45px auto 99px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  transition: opacity ease 0.3s;
}

.portfolio__link:last-child {
  margin-bottom: 96px;
}

.portfolio__link:hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .portfolio__link {
    margin: 33px auto 78px;
  }

  .portfolio__link:last-child {
    margin-bottom: 81px;
  }
}
