.header__menu-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 68px;
  right: 30px;
  width: 33px;
  height: 19.19px;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    visibility: hidden;
  }
}

